$font-stack: normal 300 16px/24px Roboto,
Ubuntu,
Cantarell,
Helvetica,
sans-serif;
$background-image: url('../img/header_background_v1.jpg');
$border-color: #607D8B;
$color-nav-h1: #FFFFFF;
$button-color: #01ACAC;
$body-background-color: #FFFFFF;
$article-color: #EFEFEF;
$post-description-color: #FF0000;
$article-name-color: #0097A7;
$article-img-height: 250px;
$body-text-color: #000000;
$form-text-color: #00A4C6;
$toolbar-padding: 12px 20px;
$border-width: 2px;
$post-margin-left: 5px;
$form-label-color: #00A4C6;